# **AIN 214 - PA1 - FALL 2024**

**Student Number** :

**Name Surname**   :


BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

**Deadline: 18.10.2023 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* Use of naive for loops is not considered valid.

* For the db operations, use sqlite3 library in Python

# **PART- 1**

**Set of Questions on World Happiness Report Dataset (40 Pts)**

**Dataset Path: "Data/WorldHappinessReport.csv"**

# Q1. Basic Data Exploration **(10 Pts)**

1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 10th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [ ]:
#1 Load the data into Pandas DataFrame and print the column names
# Import required libraries
import pandas as pd
import numpy as np
df=pd.read_csv("Data/WorldHappinessReport.csv")

In [ ]:
#2 Display the first and last 10 rows of the dataset.
#first 10 rows
print(df.head(10))
#last 10 rows
print(df.tail(10))

   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549
5             6       Netherlands  7.441           1.361           1.488
6             7            Canada  7.328           1.330           1.532
7             8       New Zealand  7.324           1.268           1.601
8             9            Sweden  7.314           1.355           1.501
9            10         Australia  7.272           1.340           1.573

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256
5                    0.878                         0.638       0.333
6                    0.896                         0.653       0.321
7                    0.876                         0.669       0.365
8                    0.913                         0.659       0.285
9                    0.910                         0.647       0.361

   Perceptions of corruption
0                      0.393
1                      0.340
2                      0.408
3                      0.138
4                      0.357
5                      0.295
6                      0.291
7                      0.389
8                      0.383
9                      0.302
     Overall rank         Country or region  Score  GDP per capita  \
146           147                    Malawi  3.587           0.186
147           148                     Haiti  3.582           0.315
148           149                   Liberia  3.495           0.076
149           150                     Syria  3.462           0.689
150           151                    Rwanda  3.408           0.332
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
146           0.541                    0.306                         0.531
147           0.714                    0.289                         0.025
148           0.858                    0.267                         0.419
149           0.382                    0.539                         0.088
150           0.896                    0.400                         0.636
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
146       0.210                      0.080
147       0.392                      0.104
148       0.206                      0.030
149       0.376                      0.144
150       0.200                      0.444
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

In [ ]:
#3 Display the random 10 rows
print(df.sample(10))

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
65,66,Kosovo,5.662,0.855,1.230,0.578,0.448,0.274,0.023
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
104,105,South Africa,4.724,0.940,1.410,0.330,0.516,0.103,0.056
76,77,Portugal,5.410,1.188,1.429,0.884,0.562,0.055,0.017
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
68,69,Hungary,5.620,1.171,1.401,0.732,0.259,0.061,0.022
58,59,Russia,5.810,1.151,1.479,0.599,0.399,0.065,0.025
129,130,Myanmar,4.308,0.682,1.174,0.429,0.580,0.598,0.178
93,94,Mongolia,5.125,0.914,1.517,0.575,0.395,0.253,0.032

In [ ]:
#4 sample using seed
print(df.sample(10,random_state=12))

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
147,148,Haiti,3.582,0.315,0.714,0.289,0.025,0.392,0.104
87,88,Tajikistan,5.199,0.474,1.166,0.598,0.292,0.187,0.034
88,89,Macedonia,5.185,0.959,1.239,0.691,0.394,0.173,0.052
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
40,41,Nicaragua,6.141,0.668,1.319,0.700,0.527,0.208,0.128
61,62,Bolivia,5.752,0.751,1.223,0.508,0.606,0.141,0.054
80,81,Montenegro,5.347,1.017,1.279,0.729,0.259,0.111,0.081
23,24,Mexico,6.488,1.038,1.252,0.761,0.479,0.069,0.095
85,86,China,5.246,0.989,1.142,0.799,0.597,0.029,0.103
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112

In [ ]:
#5 Display every 10th row
print(df.iloc[::10])

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
40,41,Nicaragua,6.141,0.668,1.319,0.700,0.527,0.208,0.128
50,51,Slovenia,5.948,1.219,1.506,0.856,0.633,0.160,0.051
60,61,Cyprus,5.762,1.229,1.191,0.909,0.423,0.202,0.035
70,71,Philippines,5.524,0.775,1.312,0.513,0.643,0.120,0.105
80,81,Montenegro,5.347,1.017,1.279,0.729,0.259,0.111,0.081
90,91,Nigeria,5.155,0.689,1.172,0.048,0.462,0.201,0.032
100,101,Nepal,4.880,0.425,1.228,0.539,0.526,0.302,0.078
110,111,Tunisia,4.592,0.900,0.906,0.690,0.271,0.040,0.063
120,121,Burkina Faso,4.424,0.314,1.097,0.254,0.312,0.175,0.128
130,131,Chad,4.301,0.358,0.907,0.053,0.189,0.181,0.060
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112
150,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444

In [ ]:
#6 Get the summary stats of the dataset regarding each column
print(df.describe())

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [ ]:
#7 Identify and count the number of missing values in each column
missing_values = df.isna().sum()
print(missing_values)

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

# Q2. Basic Data Statistics: **(10 Pts)**

1. Calculate the mean, median, and standard deviation of the happiness Score across all countries. **(1 Pts)**
2. Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score. **(1 Pts)**
3. Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score? **(2 Pts)**
4. Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. **(2 Pts)**
5. Are there any countries where Generosity is higher than Social Support? List them. **(2 Pts)**
6. What is the range (max-min) of GDP per Capita values in the dataset? **(2 Pts)**

In [ ]:
#1
print(df["Score"].mean())
print(df["Score"].median())
print(df["Score"].std())

5.375916666666667
5.378
1.119505852731943

In [ ]:
#3
print(df.loc[df["Healthy life expectancy"].idxmax(), "Country or region"])

Hong Kong

In [ ]:
#4
# Filter the DataFrame for countries with a Happiness Score greater than 6
newdf = df[df["Score"] > 6]

# Calculate the average Corruption Perceptions for those countries
avarage= newdf["Perceptions of corruption"].mean()
print(avarage)

0.1782888888888889

In [ ]:

# Cömertlik değeri Sosyal Destek değerinden büyük olan ülkeleri filtrele
country = df[df["Generosity"] > df["Social support"]]
print(country)

     Overall rank         Country or region  Score  GDP per capita  \
154           155  Central African Republic  3.083           0.024

     Social support  Healthy life expectancy  Freedom to make life choices  \
154             0.0                     0.01                         0.305

     Generosity  Perceptions of corruption
154       0.218                      0.038

In [ ]:
#6
maxgdp = df["GDP per capita"].max()
mingdp = df["GDP per capita"].min()
rannge=maxgdp-mingdp
print(maxgdp)
print(mingdp)
print(rannge)

2.096
0.0
2.096

# Q3. Data Filtering **(20 Pts)**

1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**
2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**
3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**
6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**

In [ ]:
#1nc
newdf=df[df["Score"]>7.5]["Country or region"]
print(newdf)
print(len(newdf))

0    Finland
1     Norway
2    Denmark
Name: Country or region, dtype: object
3

#2
nc=df[df["Perceptions of corruption"]<0.2]
nc
#Overall rank                    0
#Country or region               0
#Score                           0
#GDP per capita                  0
#Social support                  0
#Healthy life expectancy         0
#Freedom to make life choices    0
#Generosity                      0
#Perceptions of corruption       1
#dtype: int64

In [ ]:
# Get the indices of the top 5 largest values in the 'Generosity' column
top5largest = df["Generosity"].nlargest(5).index

# Use these indices to filter the DataFrame
indices = df.loc[top5largest]

# Calculate the mean of the 'Score' for those entries
result = indices["Score"].mean()

# Display the result
print(f"The mean Score of the top 5 Generosity values is {result}.")

The mean Score of the top 5 Generosity values is 4.6144.

In [ ]:
#4
filtered_countries = df[(df['GDP per capita'] < 0.5) & (df['Score'] > 4)]["Country or region"]
print(filtered_countries)

87           Tajikistan
97              Somalia
100               Nepal
108             Senegal
112        Sierra Leone
117                Mali
120        Burkina Faso
122          Mozambique
123               Kenya
126            Ethiopia
130                Chad
131    Congo (Kinshasa)
133               Niger
134              Uganda
135               Benin
Name: Country or region, dtype: object

In [ ]:

country=df[df["Social support"]>df["Freedom to make life choices"]]["Country or region"]
print(country)

0          Finland
1           Norway
2          Denmark
3          Iceland
4      Switzerland
          ...
150         Rwanda
151          Yemen
152       Tanzania
153    South Sudan
155        Burundi
Name: Country or region, Length: 154, dtype: object

In [ ]:
#6
hlfdataframe=df["Healthy life expectancy"].quantile(0.9)
top=df[df["Healthy life expectancy"]>hlfdataframe]
print(top)

    Overall rank Country or region  Score  GDP per capita  Social support  \
3              4           Iceland  7.495           1.343           1.644
4              5       Switzerland  7.487           1.420           1.549
6              7            Canada  7.328           1.330           1.532
8              9            Sweden  7.314           1.355           1.501
9             10         Australia  7.272           1.340           1.573
15            16           Belgium  6.927           1.324           1.483
16            17        Luxembourg  6.910           1.576           1.520
22            23            France  6.489           1.293           1.466
33            34         Singapore  6.343           1.529           1.451
35            36             Spain  6.310           1.251           1.538
46            47             Italy  6.000           1.264           1.501
53            54             Japan  5.915           1.294           1.462
56            57       South Korea  5.875           1.266           1.204
57            58   Northern Cyprus  5.835           1.229           1.211
60            61            Cyprus  5.762           1.229           1.191
75            76         Hong Kong  5.430           1.405           1.290

    Healthy life expectancy  Freedom to make life choices  Generosity  \
3                     0.914                         0.677       0.353
4                     0.927                         0.660       0.256
6                     0.896                         0.653       0.321
8                     0.913                         0.659       0.285
9                     0.910                         0.647       0.361
15                    0.894                         0.583       0.188
16                    0.896                         0.632       0.196
22                    0.908                         0.520       0.098
33                    1.008                         0.631       0.261
35                    0.965                         0.449       0.142
46                    0.946                         0.281       0.137
53                    0.988                         0.553       0.079
56                    0.955                         0.244       0.175
57                    0.909                         0.495       0.179
60                    0.909                         0.423       0.202
75                    1.030                         0.524       0.246

    Perceptions of corruption
3                       0.138
4                       0.357
6                       0.291
8                       0.383
9                       0.302
15                      0.240
16                      0.321
22                      0.176
33                      0.457
35                      0.074
46                      0.028
53                      0.150
56                      0.051
57                      0.154
60                      0.035
75                      0.291

In [ ]:
newdf=df[df["Generosity"]<df["Social support"]]
avarage_score=newdf["Score"].mean()
print(avarage_score)

5.390709677419355

In [ ]:
#8
#5
#Overall rank                    0
#Country or region               0
#Score                           0
#GDP per capita                  0
#Social support                  0
#Healthy life expectancy         0
#Freedom to make life choices    0
#Generosity                      0
#Perceptions of corruption       1
#dtype: int64

belowmedian=df[df["Score"]<df["Score"].median()]
print(len(belowmedian))
average_gdp = belowmedian['GDP per capita'].mean()
print(average_gdp)
average_social_support = belowmedian['Social support'].mean()
print(average_social_support)
average_health_expectancy = belowmedian['Healthy life expectancy'].mean()
print(average_health_expectancy )
average_generosity = belowmedian['Generosity'].mean()
print(average_generosity)

78
0.6212564102564103
1.0194230769230768
0.43296153846153845
0.17670512820512818

In [ ]:
#9
median_freedom = df['Freedom to make life choices'].median()
median_health = df['Healthy life expectancy'].median()
filtered_countries = df[(df['Freedom to make life choices'] > median_freedom) &
                         (df['Healthy life expectancy'] > median_health)]
print(len(filtered_countries))

47

# **PART- 2**

**Set of Questions on the passenger_demographics.csv and passenger_survival.csv** **(25 Pts)**

**Dataset Path: "Data/passenger_demographics.csv" and "Data/passenger_survival.csv"**

# Q1. Data Merging and Consistency Checking


1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
4. Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning) **(4 Pts)**
5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**
6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
7. Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers. **(4 Pts)**

In [ ]:
import pandas as pd
import numpy as np

# Load the datasets
demographics_df = pd.read_csv("Data/passenger_demographics.csv")
survival_df = pd.read_csv("Data/passenger_survival.csv")

# Merge the datasets on PassengerId
merged_df = pd.merge(demographics, survival, on="PassengerId")

# Count the number of rows in the merged dataset
num_rows = len(merged_df)

# Display the number of rows
print(f"The number of rows in the merged dataset is: {num_rows}")

The number of rows in the merged dataset is: 891

In [ ]:

# Check for duplicated rows
duplicates = merged_df.duplicated()
num_duplicates = duplicates.sum()

# Summary of findings regarding duplicates
if num_duplicates > 0:
    duplicate_rows = merged_df[duplicates]
else:
    duplicate_rows = None

# Calculate summary statistics for each feature
summary_statistics = merged_df.describe(include='all')  # Include all features

# Display results
print(f"Number of duplicated rows: {num_duplicates}")
if duplicate_rows is not None:
    print("\nDetails of duplicated rows:")
    print(duplicate_rows)

print("\nSummary statistics for each feature:")
print(summary_statistics)

Number of duplicated rows: 0

Summary statistics for each feature:
        PassengerId      Pclass   Sex         Age       SibSp       Parch  \
count    891.000000  891.000000   891  714.000000  891.000000  891.000000
unique          NaN         NaN     2         NaN         NaN         NaN
top             NaN         NaN  male         NaN         NaN         NaN
freq            NaN         NaN   577         NaN         NaN         NaN
mean     446.000000    2.308642   NaN   29.699118    0.523008    0.381594
std      257.353842    0.836071   NaN   14.526497    1.102743    0.806057
min        1.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%      223.500000    2.000000   NaN   20.125000    0.000000    0.000000
50%      446.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%      668.500000    3.000000   NaN   38.000000    1.000000    0.000000
max      891.000000    3.000000   NaN   80.000000    8.000000    6.000000

          Survived        Fare Embarked
count   891.000000  891.000000      889
unique         NaN         NaN        3
top            NaN         NaN        S
freq           NaN         NaN      644
mean      0.383838   32.204208      NaN
std       0.486592   49.693429      NaN
min       0.000000    0.000000      NaN
25%       0.000000    7.910400      NaN
50%       0.000000   14.454200      NaN
75%       1.000000   31.000000      NaN
max       1.000000  512.329200      NaN

In [ ]:


survival_rates = merged_df.groupby(['Pclass', 'Sex'])['Survived'].mean().reset_index()

survival_rates.rename(columns={'Survived': 'Survival Rate'}, inplace=True)


print("Survival Rate by Passenger Class and Gender:")
print(survival_rates)


for pclass in survival_rates['Pclass'].unique():
    class_data = survival_rates[survival_rates['Pclass'] == pclass]
    print(f"\nSurvival rates for Pclass {pclass}:")
    for _, row in class_data.iterrows():
        print(f"  Gender: {row['Sex']}, Survival Rate: {row['Survival Rate']:.2f}")

Survival Rate by Passenger Class and Gender:
   Pclass     Sex  Survival Rate
0       1  female       0.968085
1       1    male       0.368852
2       2  female       0.921053
3       2    male       0.157407
4       3  female       0.500000
5       3    male       0.135447

Survival rates for Pclass 1:
  Gender: female, Survival Rate: 0.97
  Gender: male, Survival Rate: 0.37

Survival rates for Pclass 2:
  Gender: female, Survival Rate: 0.92
  Gender: male, Survival Rate: 0.16

Survival rates for Pclass 3:
  Gender: female, Survival Rate: 0.50
  Gender: male, Survival Rate: 0.14

In [ ]:
import pandas as pd
import numpy as np


demographics = pd.read_csv("Data/passenger_demographics.csv")
survival = pd.read_csv("Data/passenger_survival.csv")

merged_df = pd.merge(demographics, survival, on="PassengerId")

age_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
age_labels = ['0-10', '10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80']
merged_df['AgeGroup'] = pd.cut(merged_df['Age'], bins=age_bins, labels=age_labels, right=False)


survival_rate_by_age = merged_df.groupby('AgeGroup')['Survived'].mean()

print("Hayatta kalma oranları (yaş gruplarına göre):")
print(survival_rate_by_age)

age_group_counts = merged_df.groupby('AgeGroup')['Survived'].count()
print("\nYaş gruplarındaki yolcu sayıları:")
print(age_group_counts)

Hayatta kalma oranları (yaş gruplarına göre):
AgeGroup
0-10     0.612903
10-20    0.401961
20-30    0.350000
30-40    0.437126
40-50    0.382022
50-60    0.416667
60-70    0.315789
70-80    0.000000
Name: Survived, dtype: float64

Yaş gruplarındaki yolcu sayıları:
AgeGroup
0-10      62
10-20    102
20-30    220
30-40    167
40-50     89
50-60     48
60-70     19
70-80      6
Name: Survived, dtype: int64

/tmp/ipykernel_23000/3103372007.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rate_by_age = merged_df.groupby('AgeGroup')['Survived'].mean()
/tmp/ipykernel_23000/3103372007.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_counts = merged_df.groupby('AgeGroup')['Survived'].count()

In [ ]:

demographics = pd.read_csv("Data/passenger_demographics.csv")
survival = pd.read_csv("Data/passenger_survival.csv")


merged_data = pd.merge(demographics, survival, on="PassengerId")

merged_data['FamilySize'] = merged_data['SibSp'] + merged_data['Parch'] + 1


survival_rate_by_family_size = merged_data.groupby('FamilySize')['Survived'].mean()

print("Aile büyüklüğüne göre hayatta kalma oranları:")
print(survival_rate_by_family_size)


family_size_counts = merged_data.groupby('FamilySize')['Survived'].count()
print("\nHer aile büyüklüğü için yolcu sayıları:")
print(family_size_counts)

Aile büyüklüğüne göre hayatta kalma oranları:
FamilySize
1     0.303538
2     0.552795
3     0.578431
4     0.724138
5     0.200000
6     0.136364
7     0.333333
8     0.000000
11    0.000000
Name: Survived, dtype: float64

Her aile büyüklüğü için yolcu sayıları:
FamilySize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: Survived, dtype: int64

In [ ]:
#6
import pandas as pd


demographics = pd.read_csv("Data/passenger_demographics.csv")
survival = pd.read_csv("Data/passenger_survival.csv")


merged_df = pd.merge(demographics, survival, on="PassengerId")

survival_rate_by_embarked = merged_df.groupby('Embarked')['Survived'].mean()


print("Kalkış noktalarına göre hayatta kalma oranları:")
print(survival_rate_by_embarked)


most_common_embarked = survival_rate_by_embarked.idxmax()
highest_survival_rate = survival_rate_by_embarked.max()

print(f"\nEn yüksek hayatta kalma oranına sahip kalkış noktası: {most_common_embarked} ({highest_survival_rate:.2f})")

Kalkış noktalarına göre hayatta kalma oranları:
Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

En yüksek hayatta kalma oranına sahip kalkış noktası: C (0.55)

In [ ]:
#7
import pandas as pd


demographics = pd.read_csv("Data/passenger_demographics.csv")
survival = pd.read_csv("Data/passenger_survival.csv")


merged_df = pd.merge(demographics, survival, on="PassengerId")


correlation = merged_df['Fare'].corr(merged_df['Survived'])


print(f"Fare ile Survived arasındaki korelasyon: {correlation:.2f}")

Fare ile Survived arasındaki korelasyon: 0.26

# **PART- 3**

**Set of Questions on SQL - using sqlite3 library!**

**Dataset Path: "Data/supermarket_sales.csv"**


The Supermarket Sales Dataset is a comprehensive dataset designed to provide insights into the sales performance of a supermarket.

We want to store this data in a relational database, with the following table schemas:

# Tables

## 1. Branches Table

| Column   | Type  | Key      | Description                              |
|----------|-------|----------|------------------------------------------|
| BranchID | INTEGER  | PRIMARY  | Unique identifier for each branch        |
| Branch | TEXT  |            |    Name of the supermarket branch        |
| City     | TEXT  |          | City where the branch is located         |



## 2. Products Table

| Column      | Type  | Key      | Description                               |
|-------------|-------|----------|-------------------------------------------|
| ProductID | INTEGER  | PRIMARY  | Unique identifier for each product line   |
| ProductLine | TEXT  |          | Category of the product |



## 3. Orders Table

| Column        | Type  | Key      | Description                                    |
|---------------|-------|----------|------------------------------------------------|
| OrderID       | TEXT  | PRIMARY  | Unique identifier for each order               |
| BranchID      | INTEGER  |   FK       | Identifier for the branch of the order    |
| ProductID   | INTEGER  |      FK    | Identifier linking to Products table ordered                      |
| Quantity      | INTEGER |        | Number of units ordered                        |
| UnitPrice   | REAL  |          | Price per unit of the product             |Total         | REAL  |          | Total sales value for the order               |
| OrderDate     | TEXT  |          | Date when the order was placed                |
| PaymentMethod | TEXT  |          | Method used for payment                       |
| CustomerType  | TEXT  |          | Type of customer (e.g., Member, Normal)     |
| Gender        | TEXT  |          | Gender of the customer                        |

Summary of Table Structures

* Branches Table contains information about different supermarket branches.

* Products Table details the various products available for purchase.
* Orders Table records the transactions made, linking products and branches to specific purchases.

# **Questions** **(35 Pts)**

1. Read the csv file and create this DB **(10 Pts)**
2. Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
3. Find the total revenue generated for each branch by product line **(4 Pts)**
4. Find the total sales for each branch **(3 Pts)**
5. Determine the number of orders placed by each gender **(3 Pts)**
6. List the product lines sold in each branch and the number of orders **(4 Pts)**
7. Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**
8. Check for duplicated invoices **(3 Pts)**

In [ ]:
import pandas as pd
import sqlite3


csv_file_path = 'Data/supermarket_sales.csv'
df = pd.read_csv(csv_file_path)



conn = sqlite3.connect('supermarket_sales.db')

df['BranchID'] = pd.factorize(df['Branch'])[0] + 1
otherdf = df.drop_duplicates(subset=['BranchID'], keep='first')
df['ProductID']=pd.factorize(df['Product line'])[0]+1
product = df.drop_duplicates(subset=['ProductID'], keep='first')
df['OrderID']=df["Invoice ID"]
branchesdf=otherdf[["BranchID","Branch","City"]]
product.rename(columns={'Product line': 'ProductLine'}, inplace=True)
productsdf=product[["ProductID","ProductLine"]]
df.rename(columns={'Unit price': 'UnitPrice','Date':'OrderDate','Customer type':'CustomerType','Payment':'PaymentMethod'}, inplace=True)
ordersdf=df[["OrderID","BranchID","ProductID","Quantity","UnitPrice","OrderDate","PaymentMethod","CustomerType","Gender"]]
cursor = conn.cursor()
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE IF NOT EXISTS Branches(
BranchID INTEGER PRIMARY KEY AUTOINCREMENT,
Branch TEXT,
City TEXT)""")


cursor.execute("""
CREATE TABLE IF NOT EXISTS Products(
ProductId INTEGER PRIMARY KEY AUTOINCREMENT,
Productline TEXT

)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Orders (
    OrderID TEXT PRIMARY KEY,
    BranchID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    UnitPrice REAL,
    Total REAL,
    OrderDate TEXT,
    PaymentMethod TEXT,
    CustomerType TEXT,
    Gender TEXT

)""")

/tmp/ipykernel_18816/1677712643.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product.rename(columns={'Product line': 'ProductLine'}, inplace=True)

In [ ]:
#2
cursor.execute("""SELECT productstable.ProductLine, SUM(orderstable.Quantity) AS TotalQuantitySold
FROM Products productstable
JOIN Orders orderstable ON productstable.ProductID = orderstable.ProductID
GROUP BY productstable.ProductLine
ORDER BY TotalQuantitySold DESC
LIMIT 3;
""")
cursor.fetchall()

[('Electronic accessories', 971),
 ('Food and beverages', 952),
 ('Sports and travel', 920)]

In [ ]:

cursor.execute("""
SELECT Branches.Branch, Products.Productline, SUM(Orders.Quantity * Orders.UnitPrice) AS TotalRevenue
FROM Orders
JOIN Branches ON Orders.BranchID = Branches.BranchID
JOIN Products ON Orders.ProductID = Products.ProductId
GROUP BY Branches.Branch, Products.Productline
ORDER BY Branches.Branch, TotalRevenue DESC;
""")

branch_revenue = cursor.fetchall()
print(branch_revenue)

[('A', 'Home and lifestyle', 21349.71), ('A', 'Sports and travel', 18450.19), ('A', 'Electronic accessories', 17444.87), ('A', 'Food and beverages', 16345.81), ('A', 'Fashion accessories', 15554.77), ('A', 'Health and beauty', 11997.86), ('B', 'Sports and travel', 19036.38), ('B', 'Health and beauty', 19029.2), ('B', 'Home and lifestyle', 16713.49), ('B', 'Electronic accessories', 16239.47), ('B', 'Fashion accessories', 15631.73), ('B', 'Food and beverages', 14490.37), ('C', 'Food and beverages', 22635.1), ('C', 'Fashion accessories', 20533.4), ('C', 'Electronic accessories', 18065.69), ('C', 'Health and beauty', 15824.119999999999), ('C', 'Sports and travel', 15011.36), ('C', 'Home and lifestyle', 13233.86)]

In [ ]:
#4
cursor.execute("""
SELECT Branches.Branch, SUM(Orders.Quantity ) AS TotalSales
FROM Orders
JOIN Branches ON Orders.BranchID = Branches.BranchID
GROUP BY Branches.Branch
ORDER BY TotalSales DESC;
""")

branch_sales = cursor.fetchall()
print(branch_sales)

[('A', 1859), ('C', 1831), ('B', 1820)]

In [ ]:
#5
cursor.execute("""
SELECT Gender, COUNT(OrderID) AS NumberOfOrders
FROM Orders
GROUP BY Gender;
""")

gender_orders = cursor.fetchall()
print(gender_orders)

[('Female', 501), ('Male', 499)]

In [ ]:
#6
cursor.execute("""
SELECT Branches.Branch, Products.ProductLine, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Orders
JOIN Branches ON Orders.BranchID = Branches.BranchID
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Branches.Branch, Products.ProductLine
ORDER BY Branches.Branch, NumberOfOrders DESC;
""")

product_lines_orders = cursor.fetchall()
print(product_lines_orders)

[('A', 'Home and lifestyle', 65), ('A', 'Electronic accessories', 60), ('A', 'Sports and travel', 59), ('A', 'Food and beverages', 58), ('A', 'Fashion accessories', 51), ('A', 'Health and beauty', 47), ('B', 'Sports and travel', 62), ('B', 'Fashion accessories', 62), ('B', 'Electronic accessories', 55), ('B', 'Health and beauty', 53), ('B', 'Home and lifestyle', 50), ('B', 'Food and beverages', 50), ('C', 'Food and beverages', 66), ('C', 'Fashion accessories', 65), ('C', 'Electronic accessories', 55), ('C', 'Health and beauty', 52), ('C', 'Sports and travel', 45), ('C', 'Home and lifestyle', 45)]

In [ ]:
#7
cursor.execute("""
SELECT Products.ProductLine, MAX(Orders.Quantity) AS HighestQuantitySold
FROM Orders
JOIN Products ON Orders.ProductID = Products.ProductID
GROUP BY Products.ProductLine
ORDER BY HighestQuantitySold DESC;
""")

highest_quantity = cursor.fetchall()
print(highest_quantity)

[('Sports and travel', 10), ('Home and lifestyle', 10), ('Health and beauty', 10), ('Food and beverages', 10), ('Fashion accessories', 10), ('Electronic accessories', 10)]

In [ ]:
#8
cursor.execute("""
SELECT OrderID, COUNT(*) AS DuplicateCount
FROM Orders
GROUP BY OrderID
HAVING COUNT(*) > 1;
""")

duplicated_invoices = cursor.fetchall()
print(duplicated_invoices)

[]

# SUBMIT FORMAT

* **<-zip>**
  - **studentID_name_surname_hw1.ipynb**

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone else’s work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.